header {
  z-index: 1000;
  background: var(--surfacePrimary);
  border-bottom: 1px solid var(--divider);
  box-shadow: 0 1px 2px var(--borderPrimary);
  position: fixed;
  top: 0;
  left: 0;
  height: 4em;
  width: 100%;
  padding: 0;
  display: flex;
  padding: 0.5em 0.5em 0.5em 1em;
  align-items: center;
}

header > * {
  flex: 0 0 auto;
}

header title {
  display: block;
  flex: 1 1 auto;
  padding: 0 1em;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.2em;
}

header .overlay {
  width: 0;
  height: 0;
}

header a,
header a:hover {
  color: inherit;
}

header > div:first-child > .action,
header img {
  margin-right: 1em;
}

header img {
  height: 2.5rem;
}

header .action span {
  display: none;
}

header > div div {
  vertical-align: middle;
  position: relative;
}

#more {
  display: none;
}
